body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-120px;
  width:590px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:161px;
}
#uu1 {
  position:absolute;
  left:120px;
  top:64px;
  width:53px;
  height:16px;
}
#uu1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#uu2 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#uu3 {
  position:absolute;
  left:120px;
  top:80px;
  width:590px;
  height:10px;
}
#uu3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#uu3_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#uu3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#uu4 {
  position:absolute;
  left:626px;
  top:266px;
  width:80px;
  height:30px;
}
#uu4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#uu5 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#uu6 {
  position:absolute;
  left:183px;
  top:64px;
  width:9px;
  height:16px;
}
#uu6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#uu7 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#uu8 {
  position:absolute;
  left:202px;
  top:64px;
  width:53px;
  height:16px;
}
#uu8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#uu9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#uu10 {
  position:absolute;
  left:120px;
  top:296px;
  width:300px;
  height:64px;
}
#uu10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#uu11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
