body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:auto;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:80px;
  width:590px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u1 {
  position:absolute;
  left:138px;
  top:114px;
  width:40px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:188px;
  top:110px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:138px;
  top:154px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:138px;
  top:194px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:188px;
  top:150px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:188px;
  top:191px;
  width:200px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:430px;
  top:114px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:430px;
  top:154px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:500px;
  top:110px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:500px;
  top:150px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:490px;
  top:240px;
  width:100px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:600px;
  top:240px;
  width:100px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:120px;
  top:64px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:183px;
  top:64px;
  width:9px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:202px;
  top:64px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:265px;
  top:64px;
  width:9px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}#u28 {
  position:absolute;
  left:285px;
  top:64px;
  width:79px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}

#u30 {
  position:absolute;
  left:430px;
  top:196px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:500px;
  top:194px;
  width:53px;
  height:16px;
}
#u32_input {
    color: #000000;
    font-family: 'Arial Normal','Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 22px;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 200px;
}
#u40 {
  position:absolute;
  left:430px;
  top:194px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:500px;
  top:190px;
  width:200px;
  height:22px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u42_input:disabled {
  color:grayText;
}
