.fll{float: left;}
.flr{float: right;}
body{
	background: #fffffc;
}
.container{
    width:800px;
    margin:0 auto;/*设置整个容器在浏览器中水平居中*/
    #background:#CF3;
}
.header{
    height:20px;
    #background:#093;
}
.logo{
    padding-left:20px;
    padding-top:20px;
	font-size:20px;
	font-weight:bold;
    padding-bottom:50px;
	font-family: Georgia, Palatino, serif;
    #text-decoration:underline;
}
.line {
	margin-top:36px;
	#border-top:2px;
}
.content{
	font-size:18px;
    #height:600px;
    /*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
    #margin-top:0px;/*此处讲解margin的用法，设置content与上面header元素之间的距离*/
    #background:#0FF;
}
.content-href{
    height:400px;
    width:400px;
    margin:0px;/*设置元素跟其他元素的距离为20像素*/
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    #background:#90C;
}
.content-size{
    height:400px;
    width:400px;
    margin:0px;/*设置元素跟其他元素的距离为20像素*/
    float:left;/*设置浮动，实现多列效果，div+Css布局中很重要的*/
    #background:#90C;
}
.column_name{
	margin-bottom:-20px;
	font-size:18px;
	font-weight:bold;
}
br {
	margin:3px;
}