* {
text-align: center;
font-size: 1em;
}
#all {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -125px;
	padding: 0px;
}
#part1,#part2,#part3,#part4 {
	
	float: left;
}
#button1,#button2,#button3,#button4 {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 10px;
	border-width: 0px;
}
#button1 {
	background-color: yellow;
}
#button2 {
	background-color: #0b0;
}
#button3 {
	background-color: #88f;
}
#button4 {
	background-color: red;
}