html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    min-width: 1020px;
    font: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.markdown-group {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 30px;
    word-wrap: break-word;
    width:790px;
    position: relative;
    border-radius: 3px;
    margin-bottom: 30px;
}

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.markdown-group :first-child {
    margin-top: 0 !important;
}

.markdown-group h2 {

    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;

}
