.tbl
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.tbl td, .tbl th 
{
    font-size:1em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
    text-align:center;
}

.tbl th 
{
    font-size:1.1em;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

.tbl tr.odd
{
    /* color:#000000; */
    background-color:#EAF2D3;
}
