body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:auto;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:202px;
  top:64px;
  width:79px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:120px;
  top:80px;
  width:590px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u3 {
  position:absolute;
  left:130px;
  top:105px;
  width:53px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:193px;
  top:102px;
  width:187px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  position:absolute;
  left:450px;
  top:140px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:500px;
  top:137px;
  width:187px;
  height:22px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8_input:disabled {
  color:grayText;
}
#u9 {
  position:absolute;
  left:130px;
  top:140px;
  width:27px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:193px;
  top:140px;
  width:187px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:587px;
  top:312px;
  width:100px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:136px;
  top:212px;
  width:560px;
  height:95px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:184px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:368px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:183px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:184px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:184px;
  top:30px;
  width:184px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:368px;
  top:30px;
  width:183px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:184px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:184px;
  top:60px;
  width:184px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:180px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:368px;
  top:60px;
  width:183px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:450px;
  top:102px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:500px;
  top:98px;
  width:187px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:587px;
  top:169px;
  width:100px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:120px;
  top:64px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:183px;
  top:64px;
  width:9px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:136px;
  top:330px;
  width:300px;
  height:96px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
