body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:auto;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:121px;
  width:650px;
  height:499px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:499px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:121px;
  width:650px;
  height:59px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:59px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:80px;
  width:680px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u5 {
  position:absolute;
  left:120px;
  top:64px;
  width:53px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:183px;
  top:64px;
  width:9px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:202px;
  top:64px;
  width:105px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:138px;
  top:113px;
  width:168px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:160px;
  top:144px;
  width:60px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:230px;
  top:140px;
  width:400px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:650px;
  top:137px;
  width:120px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:130px;
  top:185px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:130px;
  top:206px;
  width:650px;
  /*height:114px;*/
}
/*
#u20 {
  position:absolute;
  left:130px;
  top:206px;
  width:650px;
  height:114px;
}
*/
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:114px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:640px;
  top:580px;
  width:120px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:680px;
  width:650px;
  height:112px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:112px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:160px;
  top:330px;
  width:600px;
  height:109px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:109px;
}
#u27 {
  position:absolute;
  left:2px;
  top:46px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:172px;
  top:340px;
  width:268px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:190px;
  top:366px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:190px;
  top:392px;
  width:100px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:190px;
  top:415px;
  width:100px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:160px;
  top:461px;
  width:600px;
  height:109px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:109px;
}
#u37 {
  position:absolute;
  left:2px;
  top:46px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:172px;
  top:471px;
  width:268px;
  height:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:190px;
  top:497px;
  width:100px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:190px;
  top:523px;
  width:100px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:190px;
  top:546px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:330px;
  top:366px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:330px;
  top:392px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:330px;
  top:415px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
