body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-120px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#container {margin: 0 auto; width:800px;}
#u0 {
  position:absolute;
  left:320px;
  top:109px;
  width:130px;
  height:70px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u0_img.mouseOver {
  width:140px;
  height:80px;
}
#u0.mouseOver {
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:209px;
  width:130px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u2_img.mouseOver {
  width:140px;
  height:80px;
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:470px;
  top:209px;
  width:130px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u4_img.mouseOver {
  width:140px;
  height:80px;
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:470px;
  top:109px;
  width:130px;
  height:70px;
  color:#1E1E1E;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u6_img.mouseOver {
  width:140px;
  height:80px;
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:120px;
  top:80px;
  width:680px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u9 {
  position:absolute;
  left:320px;
  top:44px;
  width:281px;
  height:33px;
  font-size:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
