body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:auto;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
  margin: 0 auto;
}
#u0 {
  position:absolute;
  left:120px;
  top:80px;
  width:680px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u1 {
  position:absolute;
  left:120px;
  top:64px;
  width:53px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:183px;
  top:64px;
  width:9px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:202px;
  top:64px;
  width:92px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:140px;
  top:100px;
  width:645px;
  height:101px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:145px;
  top:0px;
  width:89px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:234px;
  top:0px;
  width:95px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:329px;
  top:0px;
  width:311px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:307px;
  word-wrap:break-word;
}
